body{
    top:0px;
    margin:0px;
    color: #bbbbbb;
    color: black;
    background-attachment:fixed;
    background-size:100% 100%;
    background-color: black;
    
    left:10px;

}
article{
    min-height: 100%;
    margin-bottom: 15%;
}


#barra {
    color: #bbbbbb;
    background-color: #10153B;
    border: 1px solid black;
}

footer {
    border: 1px solid black;
    margin-top:50px;
    width:100%;
    height:20%;
    background-color:red;
}