<%- include('templates/header')%>

<article id="contenido">

    <br><br><br>
    
    <div id="">
    <h1 id="Title" class="text-center text-light bg-muted">Registro actual de los sensores</h1>
    </div>
    
    <br> 
    
    
    <div class="container mt-3 bg-dark text-light">
        <div >
            <div class="card-header">
              <br>
            </div>
            <div class="card-body ">
                <table class="table table-bordered table-dark table-hover">
                        <th>Cultivo / Corral</th>
                        <th>Dia</th>
                        <th>Humedad</th>
                        <th>Movimiento</th>
    
                    </thead>
                    <tbody>
    
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
    
                    </tbody>
                </table>
                <br>
            </div>
            <div class="card-footer"></div>
        </div>   
    </div>
    
    
    
    
    
    <br><br><br>
    
    
    </article>
<%- include('templates/footer')%>