<%- include('templates/header')%>

<article id="contenido" class="">

    <br><br><br>
    
    <div>
    <h1 id="Title" class="text-center text-light bg-muted">Registro actual de los sensores</h1>
    </div>
    
    <br> 



        <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
           
            <div class="row">
                <div class="col">
                    <div class="container mt-3 bg-dark text-light">
                        <div >
                            <div class="card-header">
                              <br>
                            </div>
                            <h1>Humedad</h1>
                            <div class="card-body ">
                                <table class="table table-bordered table-dark table-hover" id="table_humedad">
                                        <th>Dia</th>
                                        <th>Humedad</th>
                                    </thead>
                                    <tbody id="humedad_body">
                    
                
                    
                                    </tbody>
                                </table>
                                <br>
                            </div>
                            <div class="card-footer"></div>
                        </div>   
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col">
                 
                    <div class="container mt-3 bg-dark text-light">
                        <div >
                            <div class="card-header">
                              <br>
                            </div>
                            <h1>Movimiento</h1>
                            <div class="card-body ">
                                <table class="table table-bordered table-dark table-hover" id="table_move">
                                        <th>Dia</th>
                                        <th>Movimiento</th>
                                    </thead>
                                    <tbody id="move_body">
                    
                
                    
                                    </tbody>
                                </table>
                                <br>
                            </div>
                            <div class="card-footer"></div>
                        </div>   
                    </div>



                </div>
              </div>





        </div>
        <div class="col-1"></div>
      </div>


    
    
    <script>
        log=[];
        oJson = {};
        var htmlTags =  "";

        function  rJson(){
            fetch('http://localhost:3000/api/getData')
            .then((response) => response.json())
                .then((json) => {
                    oJson=json; 
                    console.log(oJson);
                    
                    oJson[0].datos.map((data) => {
                        console.log(data);
                        htmlTags = '<tr>' +
                            '<td>' + data.fecha + '</td>'+
                            '<td>' + data.valor + '</td>'+
                        '</tr>';
                    $('#humedad_body').html(htmlTags);
                    });

                    oJson[1].datos.map((datas) => {
                        console.log(datas);
                        htmlTags = '<tr>' +
                            '<td>' + datas.fecha + '</td>'+
                            '<td>' + datas.valor + '</td>'+
                        '</tr>';
                    $('#move_body').html(htmlTags);
                    

                    });
                    
                    //console.log(oJson);
                    
                })
                return true;
            }   
            //rJson();

            setInterval('rJson()', 1000);
            




    </script>
    
    
    
    <br><br><br>
    
    
    </article>
<%- include('templates/footer')%>