<%- include('templates/header')%>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row   justify-content-center ">
            <div class="col-md-3 mx-auto mb-3">
                <div class="card">
                    <img class="card-img-top shadow" src="img/us/Ureck.jpg" alt="Profile">
                    <div class="card-body text-center">
                        <h4 class="card-title">Uriel Gómez Becerril</h4>
                        <br>
                        <p class="card-text text-muted">Scrum Master</p>
                        <a href="#" class="social twitter m-2">
                            <i class="fab fa-github text-danger"></i>
                        </a>
                        <a href="#" class="social facebook m-2">
                            <i class="fab fa-facebook text-danger"></i>
                        </a>
                        <a href="#" class="social google-plus m-2">
                            <i class="fab fa-instagram text-danger"></i>
                        </a>
                        <a href="#" class="social linkedin m-2">
                            <i class="fab fa-linkedin text-danger"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto mb-3">
                <div class="card">
                    <img class="card-img-top shadow" src="img/us/Dayanna.jpg" alt="Profile">
                    <div class="card-body text-center">
                        <h4 class="card-title">Diana Paola Hernández Velázquez</h4>
                        <p class="card-text text-muted">QA Tester</p>
                        <a href="#" class="social twitter m-2">
                            <i class="fab fa-github text-danger"></i>
                        </a>
                        <a href="#" class="social facebook m-2">
                            <i class="fab fa-facebook text-danger"></i>
                        </a>
                        <a href="#" class="social google-plus m-2">
                            <i class="fab fa-instagram text-danger"></i>
                        </a>
                        <a href="#" class="social linkedin m-2">
                            <i class="fab fa-linkedin text-danger"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto mb-3">
                <div class="card">
                    <img class="card-img-top shadow" src="img/us/Gabo.jpg" alt="Profile">
                    <div class="card-body text-center">
                        <h4 class="card-title">Oscar Gabriel Resendiz Ramirez</h4>
                        <p class="card-text text-muted">Product Owner</p>
                        <a href="#" class="social twitter m-2">
                            <i class="fab fa-github text-danger"></i>
                        </a>
                        <a href="#" class="social facebook m-2">
                            <i class="fab fa-facebook text-danger"></i>
                        </a>
                        <a href="#" class="social google-plus m-2">
                            <i class="fab fa-instagram text-danger"></i>
                        </a>
                        <a href="#" class="social linkedin m-2">
                            <i class="fab fa-linkedin text-danger"></i>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto mb-3">
                <div class="card">
                    <img class="card-img-top shadow" src="img/us/Vivi.jpg" alt="Profile">
                    <div class="card-body text-center">
                        <h4 class="card-title">Viviana Itzel Cruz de Jesús</h4>
                        <p class="card-text text-muted">Developer</p>
                        <a href="#" class="social twitter m-2">
                            <i class="fab fa-github text-danger"></i>
                        </a>
                        <a href="#" class="social facebook m-2">
                            <i class="fab fa-facebook text-danger"></i>
                        </a>
                        <a href="#" class="social google-plus m-2">
                            <i class="fab fa-instagram text-danger"></i>
                        </a>
                        <a href="#" class="social linkedin m-2">
                            <i class="fab fa-linkedin text-danger"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<%- include('templates/footer')%>